*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ejercicio numero 1 */

#div-ej-1{
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
}

#img-ej-1{
    height: 25em;
    width: auto;
}

/* ejercicio numero 2 */

.grupo-imgs{
display: flex;
justify-content: space-around;
}

.grupo-1, .grupo-2, .grupo-3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

img{
    height: 10em;
    width: 10em;
}

.input-1, .input-2, .input-3{
    margin-top: 1em;
    width: 5em;
}

.div-parrafo{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn{
    margin: 1em;
}

/* ejercicio numero 3 */
.clave{
    margin-top: 4em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.mensaje{
    font-size: small;
}

